extends layout

block content

    body
        main.container(role="main")
            .container.theme-showcase
                .page-header
                    h3.ml-3.mb-3 #{project.name}

                    .container
                        nav.navbar.navbar-expand-lg.navbar-light.bg-light
                            ul.navbar-nav.mr-auto
                                li.nav-item
                                    a.nav-link(href='/projects')
                                        i.fas.fa-chevron-left
                                        |   Projects

                                if project.scrum_master == uid || project.product_owner == uid
                                    li.nav-item
                                        a.nav-link(href='/stories/project/'+ project.id + '/create') Add User Story

                                if !isUser || project.scrum_master == uid
                                    li.nav-item
                                        a.nav-link(href='/projects/'+ project.id + '/edit') Edit Project
                    hr

                div.main.container
                    div.col-md-12

                        h6 Project Details
                        p.mb-0 Members:
                            each member in project.ProjectMembers
                                | #{" "+ member.name}
                                if project.ProjectMembers.length > 0 && member.id != project.ProjectMembers[project.ProjectMembers.length - 1].id
                                    | ,
                        p.mb-0 Scrum master: #{project.ScrumMaster.name} <br/>
                        p.mb-0 Product owner: #{project.ProductOwner.name} <br/>
                        p.mb-0 Created: #{moment(project.createdAt).format('DD.MM.YYYY')}
                        if project.updatedAt
                            p.mb-0 Modified: #{moment(project.updatedAt).format('DD.MM.YYYY')}
                        br
                        p.mb-0.font-italic #{project.description} <br/>

                        hr
                        h4(id="storiesDeck") Backlog
                        br

                        if stories.length

                            div.card-deck
                                .card.border-secondary
                                    .card-header.alert-warning
                                        | Unassigned Stories -
                                        a#showMore.alert-warning(href='#storiesDeck')  Show less
                                        .br
                                        small All stories not assigned to sprint
                                    .card-body
                                        blockquote.blockquote.mb-0
                                            .list-group
                                                each story in stories
                                                    if !story.sprint_id && !story.is_done
                                                        button.list-group-item.list-group-item-action.flex-column.align-items-start(type='button' data-toggle='modal', data-target='#modalStory' + story.id, style='color: black;', id="story"+ story.id)
                                                            .d-flex.w-100.justify-content-between
                                                                p.mb-2 #{story.name}
                                                            small Description: #{story.description}
                                                            br
                                                            //small Acceptance criteria: #{story.acceptanceCriteria}
                                                            //br
                                                            //small Importance: #{story.importance}
                                                            //br
                                                            //small Business value: #{story.businessValue}
                                                            //br
                                                            //if story.estimatedTime
                                                            //    small Estimated time: #{story.estimatedTime}
                                                            //if !story.estimatedTime
                                                            //    small Estimated time: /
                                                            //br
                                                            //small Sprint: from #{story.sprint.startDate} to #{story.sprint.endDate}
                                                            //br

                                                        .modal.fade(id="modalStory" + story.id, tabindex='-1', role='dialog', aria-labelledby='modalTitle' + story.id, aria-hidden='true')
                                                            .modal-dialog(role='document')
                                                                .modal-content
                                                                    .modal-header
                                                                        h5.modal-title(id="modalTitle" + story.id) #{story.name}
                                                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                                            span(aria-hidden='true') x
                                                                    .modal-body.font-16
                                                                        span Description: #{story.description}
                                                                        br
                                                                        //span Acceptance criteria: #{story.acceptanceCriteria}
                                                                        label(for='acceptanceCriteria') Acceptance criteria:
                                                                        textarea#acceptanceCriteriaListing.form-control(placeholder='Enter Acceptance Criteria' name='acceptanceCriteria' disabled="disabled")
                                                                            | #{story.acceptanceCriteria}
                                                                        //br
                                                                        span Importance: #{story.importance}
                                                                        br
                                                                        span Business value: #{story.businessValue}
                                                                        br
                                                                        if story.estimatedTime
                                                                            span Estimated time: #{story.estimatedTime}
                                                                            br
                                                                        if !story.estimatedTime
                                                                            span Estimated time: /
                                                                            br
                                                                        //span Sprint: from #{story.sprint.startDate} to #{story.sprint.endDate}
                                                                        span Sprint: not assigned yet
                                                                        br

                                                                        if tasks
                                                                            span Tasks list:

                                                                            - var count = 0;
                                                                            each task in tasks
                                                                                if(task.story_id === story.id)
                                                                                    - count++;
                                                                                    - var time = Math.round(task.time * 6 * 2) / 2;
                                                                                    br
                                                                                    span - #{task.name} [#{time}h] - #{task.description} - #{task.assigneeTask ? task.assigneeTask : 'not assigned yet'}
                                                                                        //#{project.product_owner !== uid ? '- ' : ''}
                                                                                    //if(project.product_owner !== uid)
                                                                                        a.nav-link(href='/tasks/' + task.id + '/edit/', style="display: inline-block; margin: 0; padding: 0;") edit
                                                                            if count === 0
                                                                                span  /


                                                                    .modal-footer
                                                                        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                                                                        if(isClickable)
                                                                            a.btn.btn-primary.nav-link.float-right(href='/stories/' + story.id + '/edit', style="width: 25%;") Edit story
                                                                        //if(project.product_owner !== uid)
                                                                            a.btn.btn-primary.nav-link.float-right(href='/tasks/create/' + project.id + '/' + story.id, style="width: 40%;") Create new task

                                .card.border-secondary
                                    .card-header.alert-primary
                                        | Assigned
                                        .br
                                        small Uncompleted stories assigned to sprint
                                    .card-body
                                        blockquote.blockquote.mb-0
                                            .list-group
                                                each story in stories
                                                    if(!story.is_done && story.sprint_id != null)
                                                        button.list-group-item.list-group-item-action.flex-column.align-items-start(type='button' data-toggle='modal', data-target='#modalStory' + story.id, style='color: black;', id="story"+ story.id)
                                                            .d-flex.w-100.justify-content-between
                                                                p.mb-2 #{story.name}
                                                            small Description: #{story.description}
                                                            br
                                                            //small Acceptance criteria: #{story.acceptanceCriteria}
                                                            //br
                                                            //small Importance: #{story.importance}
                                                            //br
                                                            //small Business value: #{story.businessValue}
                                                            //br
                                                            //if story.estimatedTime
                                                            //    small Estimated time: #{story.estimatedTime}
                                                            //if !story.estimatedTime
                                                            //    small Estimated time: /
                                                            //br
                                                            //small Sprint: from #{story.sprint.startDate} to #{story.sprint.endDate}
                                                            //br

                                                        .modal.fade(id="modalStory" + story.id, tabindex='-1', role='dialog', aria-labelledby='modalTitle' + story.id, aria-hidden='true')
                                                            .modal-dialog(role='document')
                                                                .modal-content
                                                                    .modal-header
                                                                        h5.modal-title(id="modalTitle" + story.id) #{story.name}
                                                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                                            span(aria-hidden='true') x
                                                                    .modal-body.font-16
                                                                        span Description: #{story.description}
                                                                        br
                                                                        //span Acceptance criteria: #{story.acceptanceCriteria}
                                                                        label(for='acceptanceCriteria') Acceptance criteria:
                                                                        textarea#acceptanceCriteriaListing.form-control(placeholder='Enter Acceptance Criteria' name='acceptanceCriteria' disabled="disabled")
                                                                            | #{story.acceptanceCriteria}
                                                                        //br
                                                                        span Importance: #{story.importance}
                                                                        br
                                                                        span Business value: #{story.businessValue}
                                                                        br
                                                                        if story.estimatedTime
                                                                            span Estimated time: #{story.estimatedTime}
                                                                            br
                                                                        if !story.estimatedTime
                                                                            span Estimated time: /
                                                                            br
                                                                        span Sprint: from #{story.sprint.startDate} to #{story.sprint.endDate}
                                                                        br

                                                                        if tasks
                                                                            span Tasks list:

                                                                            - var count = 0;
                                                                            each task in tasks
                                                                                if(task.story_id === story.id)
                                                                                    - count++;
                                                                                    - var time = Math.round(task.time * 6 * 2) / 2;
                                                                                    br
                                                                                    span - #{task.name} [#{time}h] - #{task.description} - #{task.assigneeTask ? task.assigneeTask : 'not assigned yet'} #{project.product_owner !== uid ? '- ' : ''}
                                                                                    if(project.product_owner !== uid)
                                                                                        a.nav-link(href='/tasks/' + task.id + '/edit/', style="display: inline-block; margin: 0; padding: 0;") edit
                                                                            if count === 0
                                                                                span  /


                                                                    .modal-footer
                                                                        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                                                                        if(project.product_owner !== uid)
                                                                            a.btn.btn-primary.nav-link.float-right(href='/tasks/create/' + project.id + '/' + story.id, style="width: 40%;") Create new task


                                .card.border-secondary
                                    .card-header.alert-success
                                        | Completed
                                        .br
                                        small Completed and Accepted Stories
                                    .card-body
                                        blockquote.blockquote.mb-0
                                            .list-group
                                                each story in stories
                                                    if story.is_done
                                                        button.list-group-item.list-group-item-action.flex-column.align-items-start(type='button' data-toggle='modal', data-target='#modalStory' + story.id, style='color: black;', id="story"+ story.id)
                                                            .d-flex.w-100.justify-content-between
                                                                p.mb-2 #{story.name}
                                                            small Description: #{story.description}
                                                            br
                                                            //small Acceptance criteria: #{story.acceptanceCriteria}
                                                            //br
                                                            //small Importance: #{story.importance}
                                                            //br
                                                            //small Business value: #{story.businessValue}
                                                            //br
                                                            //if story.estimatedTime
                                                            //    small Estimated time: #{story.estimatedTime}
                                                            //if !story.estimatedTime
                                                            //    small Estimated time: /
                                                            //br
                                                            //small Sprint: from #{story.sprint.startDate} to #{story.sprint.endDate}
                                                            //br

                                                        .modal.fade(id="modalStory" + story.id, tabindex='-1', role='dialog', aria-labelledby='modalTitle' + story.id, aria-hidden='true')
                                                            .modal-dialog(role='document')
                                                                .modal-content
                                                                    .modal-header
                                                                        h5.modal-title(id="modalTitle" + story.id) #{story.name}
                                                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                                            span(aria-hidden='true') x
                                                                    .modal-body.font-16
                                                                        span Description: #{story.description}
                                                                        br
                                                                        //span Acceptance criteria: #{story.acceptanceCriteria}
                                                                        label(for='acceptanceCriteria') Acceptance criteria:
                                                                        textarea#acceptanceCriteriaListing.form-control(placeholder='Enter Acceptance Criteria' name='acceptanceCriteria' disabled="disabled")
                                                                            | #{story.acceptanceCriteria}
                                                                        //br
                                                                        span Importance: #{story.importance}
                                                                        br
                                                                        span Business value: #{story.businessValue}
                                                                        br
                                                                        if story.estimatedTime
                                                                            span Estimated time: #{story.estimatedTime}
                                                                            br
                                                                        if !story.estimatedTime
                                                                            span Estimated time: /
                                                                            br
                                                                        //span Sprint: from #{story.sprint.startDate} to #{story.sprint.endDate}
                                                                        //br

                                                                        if tasks
                                                                            span Tasks list:

                                                                                - var count = 0;
                                                                                each task in tasks
                                                                                    if(task.story_id === story.id)
                                                                                        - count++;
                                                                                        - var time = Math.round(task.time * 6 * 2) / 2;
                                                                                        br
                                                                                        span - #{task.name} [#{time}h] - #{task.description} - #{task.assigneeTask ? task.assigneeTask : 'not assigned yet'}
                                                                                        //#{project.product_owner !== uid ? '- ' : ''}
                                                                                        //if(project.product_owner !== uid)
                                                                                            a.nav-link(href='/tasks/' + task.id + '/edit/', style="display: inline-block; margin: 0; padding: 0;") edit
                                                                                if count === 0
                                                                                    span  /

                                                                    .modal-footer
                                                                        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                                                                        //if(project.product_owner !== uid)
                                                                            a.btn.btn-primary.nav-link.float-right(href='/tasks/create/' + project.id + '/' + story.id, style="width: 40%;") Create new task

                        if !stories.length
                            div.col-md-12
                                p Project does not have any stories specified yet.

    script.
        showMore = document.getElementById('showMore');
        function toggleShownStories() {
            var elements = document.getElementsByClassName("wontHaveThisTime");

            for(var i=0; i<elements.length; i++) {
                if (elements[i].style.display === "none") {
                    elements[i].style.display = "block";
                    showMore.innerText = ' Show less'
                } else {
                    elements[i].style.display = "none";
                    showMore.innerText = ' Show more'
                }
            }
        }
        showMore.onclick = toggleShownStories;

        window.addEventListener('load', function () {
            $(document).ready(function ($) {
                var currentUrl = window.location.href;
                if (currentUrl.indexOf("view?story") > -1) {
                    var open = currentUrl.split("view?story");
                    $("#story" + open[1]).click();
                }
            });
        })

        // https://stackoverflow.com/questions/6137986/javascript-roundoff-number-to-nearest-0-5
        // - used upper in lines, to get transformation for half of hours when transforming from points to hours
        function roundHalf(num) {
            return Math.round(num * 2) / 2;
        }